<script>
export default {
  props: {},
  async created() {
    var hrefParts = window.location.href.split("/");
    this.page = hrefParts[hrefParts.length - 1];
    console.log(this.page, "FFFFFFF");
    let q = this.$route.query.q;
    console.log(q), "aaaasdadwd";
  },
  methods: {
    hide() {},
    move(data){
        this.page = data;
      this.$router.push(`/${data}`);
    }
  },
  data() {
    return {
      page: null,
    };
  },
};
</script>

<template>
  <div>
    <div class="auth-logo">
      <nuxt-link to="/analytics" class="logo logo-light text-center">
        <span class="logo-lg">
          <img
            src="~/assets/icons/hub.svg"
            alt
            height="100"
            class="mx-auto d-block mt-4 mb-5"
          />
        </span>
      </nuxt-link>
    </div>
    <div>
      <b-nav vertical tabs justified class="border-0">
        <b-nav-item
          v-if="this.page != 'analytics'"
          :active="false"
          class="ml-4"
          style="border-radius: 15px"
        >
          <a href="#" @click="move('analytics')">
            <div class="d-flex align-self-center">
              <i class="fa fa-line-chart fa-2x"></i>
              <span class="ml-4 text-white h3 pb-0 mb-0">Аналитика</span>
            </div>
          </a>
        </b-nav-item>
        <b-nav-item v-else active class="ml-4" style="border-radius: 15px">
          <nuxt-link to="/analytics">
            <div class="d-flex align-self-center">
              <i class="fa fa-line-chart fa-2x"></i>
              <span class="ml-4 text-dark h3 pb-0 mb-0">Аналитика</span>
            </div>
          </nuxt-link>
        </b-nav-item>

        <b-nav-item
          v-if="this.page != 'documents'"
          :active="false"
          class="ml-4"
          style="border-radius: 15px"
        >
          <a href="#" @click="move('documents')" >
            <div class="d-flex align-self-center">
              <i class="fa fa-inbox fa-2x"></i>

              <span class="ml-5 text-white h3 pb-0 mb-0">Заявки</span>
            </div>
          </a>
        </b-nav-item>
        <b-nav-item v-else active class="ml-4" style="border-radius: 15px">
          <nuxt-link to="/documents" class="">
            <div class="d-flex align-self-center">
              <i class="fa fa-inbox fa-2x"></i>
              <span class="ml-5 text-dark h3 pb-0 mb-0">Заявки</span>
            </div>
          </nuxt-link>
        </b-nav-item>
      </b-nav>
    </div>
  </div>
</template>
<style  scoped>
.orange {
  background-color: #f8670e !important;
}
.gradient {
  background: linear-gradient(
    332.61deg,
    rgba(0, 22, 215, 0.69) 153.46% #fe7845 25.26%
  );
}
.div {
  font-family: DM Sans !important;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  padding: 10px;
  border-color: white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.nav-tabs .nav-tabs .nav-item.show .nav-link {
  border: none;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.nav-tabs .nav-link,
.nav-tabs .navbar .dropdown-toggle,
.navbar .nav-tabs .dropdown-toggle {
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.nav-tabs .nav-link:hover,
.nav-tabs .navbar .dropdown-toggle:hover,
.navbar .nav-tabs .dropdown-toggle:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .navbar .dropdown-toggle:focus,
.navbar .nav-tabs .dropdown-toggle:focus {
  border-color: transparent;
}
</style>
