<script>
import MainChartExample from "~/components/dashboard/MainChartExample";
import CalloutChartExample from "~/components/dashboard/CalloutChartExample";
import CardLine2ChartExample from "~/components/dashboard/CardLine2ChartExample";

export default {
  layout: "custom",
  components: {
    MainChartExample,
    CalloutChartExample,
    CardLine2ChartExample,
  },
  data() {
    return {
      selected: "Month",
      items: [
        {
          amount: 40,
          first_name: "Dickerson",
          last_name: "Macdonald",
          description: "Invoice 6B1E73DA–0017",
          Customer: "manhhachkt08@gmail.com",
          Date: "Dec 30, 09:42 PM",
        },
        {
          amount: 21,
          first_name: "Larsen",
          last_name: "Shaw",
          description: "Invoice 6B1E73DA–0017",
          Customer: "manhhachkt08@gmail.com",
          Date: "Dec 30, 09:42 PM",
        },
        {
          amount: 89,
          first_name: "Geneva",
          last_name: "Wilson",
          description: "Invoice 6B1E73DA–0017",
          Customer: "manhhachkt08@gmail.com",
          Date: "Dec 30, 09:42 PM",
        },
      ],
    };
  },
};
</script>

<template>
  <div>
    <div class="card border-0 py-4" style="height: 1050px; border-radius: 50px">
      <div class="card-body border-0">
        <div class="row mx-5">
          <div class="col-10 pt-4 pl-4">
            <p class="h1">
              Welcome, <span class="font-weight-bold"> компания Доставки </span>
            </p>
          </div>
          <div class="col-1 d-flex justify-content-start align-self-center">
            <b-navbar-nav class="ml-auto">
              <b-nav-item
                class="
                  d-md-down-none d-flex
                  justify-content-end
                  align-self-center
                "
              >
                <i class="icon-bell fa-2x"></i>
                <b-badge pill variant="danger">5</b-badge>
              </b-nav-item>
            </b-navbar-nav>
          </div>
          <div class="col-1 d-flex justify-content-start align-self-center">
            <header>
              <b-navbar-nav class="ml-auto">
                <b-nav-item-dropdown right no-caret>
                  <template slot="button-content">
                    <img
                      src="~static/img/avatars/6.jpg"
                      class="img-avatar"
                      alt="admin@bootstrapmaster.com"
                    />
                  </template>
                </b-nav-item-dropdown>
              </b-navbar-nav>
            </header>
          </div>
          <div class="col-7">
            <div class="row">
              <div class="col-5 mt-5">
                <div
                  class="ml-4 card pt-4 mr-3"
                  style="
                    border-bottom-right-radius: 40px;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 40px;
                    border-bottom-left-radius: 5px;
                    background: #c7f2ff;
                  "
                >
                  <div class="row">
                    <div class="col-3 pr-0">
                      <img
                        src="~/assets/icons/icon.svg"
                        alt
                        height="100"
                        class="float-left"
                      />
                    </div>
                    <div class="col-9">
                      <p style="color: #42427d" class="h2 font-weight-bold">
                        23 789
                      </p>
                      <p>Заказы</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-7 mt-5 mb-5">
                <div
                  class="ml-2 card pt-4 mr-5"
                  style="
                    border-top-right-radius: 40px;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 40px;
                    border-top-left-radius: 5px;
                    background: #ffe5ee;
                  "
                >
                  <div class="row">
                    <div class="col-2 pr-0">
                      <img
                        src="~/assets/icons/icon2.svg"
                        alt
                        height="100"
                        class="float-left"
                      />
                    </div>
                    <div class="col-10">
                      <p style="color: #42427d" class="h2 font-weight-bold">
                        12 890,89 kzt
                      </p>
                      <p>Прибыль</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <b-card>
              <b-row>
                <b-col sm="5">
                  <h4 id="traffic" class="card-title mb-0">
                    Статистика заказов
                  </h4>
                </b-col>
                <b-col sm="7" class="d-none d-md-block">
                  <b-button type="button" variant="primary" class="float-right"
                    ><i class="icon-cloud-download"></i
                  ></b-button>
                  <b-button-toolbar
                    class="float-right"
                    aria-label="Toolbar with buttons group"
                  >
                    <b-form-radio-group
                      class="mr-3"
                      id="radiosBtn"
                      buttons
                      button-variant="outline-secondary"
                      v-model="selected"
                      name="radiosBtn"
                    >
                      <b-form-radio class="mx-0" value="Day">Day</b-form-radio>
                      <b-form-radio class="mx-0" value="Month"
                        >Month</b-form-radio
                      >
                      <b-form-radio class="mx-0" value="Year"
                        >Year</b-form-radio
                      >
                    </b-form-radio-group>
                  </b-button-toolbar>
                </b-col>
              </b-row>
              <main-chart-example
                class="chart-wrapper"
                style="height: 300px; margin-top: 40px"
                height="300"
              ></main-chart-example>
            </b-card>
          </div>
          <div class="col-5">
            <br /><br /><br />
            <span class="h3 font-weight-bold">Направления </span>

            <a href="/documents"
              ><span class="float-right">Смотреть все </span></a
            >
            <div class="row mt-4 ml-3">
              <div class="col-2">1</div>
              <div class="col-10 h4">
                <span>Кокшетау</span>
                <p class="font-weight-bold">17 раз в месяц</p>
              </div>
              <div class="col-2">2</div>
              <div class="col-10 h4">
                <span>Актау</span>
                <p class="font-weight-bold">11 раз в месяц</p>
              </div>
              <div class="col-2">3</div>
              <div class="col-10 h4">
                <span>Караганда</span>
                <p class="font-weight-bold">5 раз в месяц</p>
              </div>
              <div class="col-2">4</div>
              <div class="col-10 h4">
                <span>Астана</span>
                <p class="font-weight-bold">2 раз в месяц</p>
              </div>
              <div class="col-12 mb-4">
                <p class="h3 font-weight-bold">Статистика прибыли</p>
              </div>
              <div class="col-12">

                <div class="chart-wrapper">
                  <callout-chart-example
                    :data="[35000, 23000, 56000, 22000, 97000, 23000, 64000]"
                    variant="#20a8d8"
                    width="80"
                    height="30"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.orange {
  background-color: #f8670e !important;
}
.gradient {
  background: linear-gradient(0deg, #d7d2cc 0%, #304352 100%) !important;
}
.div {
  font-family: DM Sans !important;
  color: #42427d !important;
}
</style>
