<script>
import nav from "./menu";

import {
  Header as AppHeader,
  Sidebar,
  Aside as AppAside,
  Footer as AppFooter,
  Breadcrumb,
} from "~/components/";
import Sidebar2 from "~/components/Sidebar/Sidebar2";
export default {
  components: {
    AppHeader,
    Sidebar,
    Sidebar2,
    AppAside,
    AppFooter,
    Breadcrumb,
  },
  data() {
    return {
      nav: nav.items,
    };
  },
};
</script>

<template>
  <div class="gradient app">
    <!-- <div class="content-page border-0 app-body">
      <div class="content">
        <div class="row">
          <div class="col-2 pr-0">
            <Sidebar2 />
          </div>
          <div class="col-10 pl-0 container-fluid">
           
              <Nuxt />
          </div>
        </div>
      </div>
   
    </div> -->
    <div class="app-body">
      <div class="row">
        <div class="col-2 pr-0">
          <Sidebar2 />
        </div>
        <div class="col-10 pl-0">
          <main class="main">
            <div class="container-fluid mt-5">
              <nuxt />
            </div>
          </main>
        </div>
      </div>

      <!-- <AppAside/> -->
    </div>
  </div>
</template>

<style scoped>
.footer {
  left: 0;
  background: none;
}
.gradient {
  background: linear-gradient(90deg, #6a85b6 0%, #bac8e0 100%) !important;
}
</style>