<script>
export default {
  layout: "custom",
  data() {
    return {
      fields: [
        { key: "weight_kg", label: "Вес", sortable: true },
        { key: "status", label: "Статус", sortable: true },
        { key: "product", label: "Продукция", sortable: true },
        { key: "client", label: "Заказчик", sortable: true },
        { key: "to_location", label: "Место", sortable: true },
        { key: "date", label: "Дата", sortable: true },
      ],
      items: [
          {
              weight_kg: 1.25,
              status: "Доставлено",
              product:"Invoice 6B1E73DA–0017",
              client: "trungkienspktnd@gamail.com",
              to_location: "Караганда",
              date: "2022-02-18",
          },
        // {
        //   amount: 40,
        //   first_name: "Dickerson",
        //   last_name: "Macdonald",
        //   description: "Invoice 6B1E73DA–0017",
        //   Customer: "manhhachkt08@gmail.com",
        //   Date: "Dec 30, 09:42 PM",
        // },
        // {
        //   amount: 21,
        //   first_name: "Larsen",
        //   last_name: "Shaw",
        //   description: "Invoice 6B1E73DA–0017",
        //   Customer: "manhhachkt08@gmail.com",
        //   Date: "Dec 30, 09:42 PM",
        // },
        // {
        //   amount: 89,
        //   first_name: "Geneva",
        //   last_name: "Wilson",
        //   description: "Invoice 6B1E73DA–0017",
        //   Customer: "manhhachkt08@gmail.com",
        //   Date: "Dec 30, 09:42 PM",
        // },
        // {
        //   amount: 38,
        //   first_name: "Jami",
        //   last_name: "Carney",
        //   description: "Invoice 6B1E73DA–0017",
        //   Customer: "manhhachkt08@gmail.com",
        //   Date: "Dec 30, 09:42 PM",
        // },
      ],
    };
  },
};
</script>

<template>
  <div>
    <div class="card border-0" style="height: 850px; border-radius: 50px">
      <div class="card-body border-0">
        <div class="row mx-5">
          <div class="col-6">
            <div class="mt-5">
              <h1 class="mt-3 font-weight-bold">Заявки на доставку</h1>
            </div>
          </div>
          <div class="col-6 mt-5 text-right">
            <div class="btn btn-light mt-3 mx-2"><i class="fa fa-filter fa-lg pr-1"></i>Фильтр</div>
            <div class="btn btn-light mt-3 mx-2"><i class="fa fa-arrow-up fa-lg pr-1"></i>Экспорт</div>
          </div>
          <div class="col-12 mt-5">
            <b-nav tabs class="">
              <b-nav-item active>Новые заявки</b-nav-item>
              <b-nav-item>Отказанные</b-nav-item>
              <b-nav-item>Несортированные</b-nav-item>
              <b-nav-item>Все</b-nav-item>
            </b-nav>
          </div>
          <div class="col-12">
            <b-table
              class=""
              hover
              :items="items"
              :fields="fields"
              table-class="table table-centered w-100 table-hover"
              thead-tr-class="bg-light"
            ></b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.orange {
  background-color: #f8670e !important;
}
.gradient {
  background: linear-gradient(0deg, #d7d2cc 0%, #304352 100%) !important;
}
.div {
  font-family: DM Sans !important;
}
</style>
